.cart {
    position: fixed;
    font-size: 1rem;
    top: 2rem;
    right: 1rem;
    width: 27rem;
    height: 90vh;
    border-radius: 1rem;
    z-index: 11;
    background-color: var(--main-bg-color);
    transition: transform 0.5s ease;
    border: 0.25px solid rgb(244, 239, 239);
    cursor: default;
    transform: translateX(110%);
    overflow: auto;
}
.cart::-webkit-scrollbar{
    display: none;
}
.open {
    transform: translateX(0);
}

.cart>p {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0.5rem 2rem;
}

.cart>hr {
    border: 0.25px solid rgb(244, 239, 239);
}

.cart_box_start {
    text-align: center;
    font-size: 1.2rem;
    padding: 5rem;
}

.cart_box_fearture {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
}

.cart_box_fearture>p {
    font-weight: 600;
}

.cart_box_fearture>p:hover {
    color: gray;
    cursor: pointer;
}

.cart_box_fearture>h3 {
    font-size: 1.2rem;
    font-weight: 900;
}

.cart_box {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1.5fr;
    gap: 1rem;
    padding: 0.5rem;
    transition: all .2s ease-in;
    margin-block: 1rem;
    margin-inline: 1rem;
}

.cart_box:hover {
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    border-radius: .3rem;
}

.cart_box:hover>.cart_box_detete {
    display: block;
}

.cart_box:hover>.cart_box_price {
    display: none;
}

.cart_box_img {
    border-radius: 0.5rem;
}

.cart_box_info {
    line-height: 0;
    margin-top: -.8rem;
}

.cart_box_info h4 {
    font-weight: 600;
}

.cart_box_info p {
    font-size: 15px;
    line-height: .3;
    position: relative;
}

.cart_box_detete {
    text-align: right;
    margin-block: auto;
    cursor: pointer;
    display: none;
}

.cart_box_detete:hover {
    color: grey;
}

.cart_box_price {

    font-weight: 500;
    margin-block: auto;
    text-align: right;
}

.btnBuy {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5rem;
    background-color: #2081E2;
    color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 5rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.btnBuy:hover {
    background-color: #3d93ea;
}

@media screen and (max-width: 35em) {
    .cart {
        width: 21rem;
        left: -11rem;
    }

    .cart_box {
        padding: .3rem;
    }

    .cart_box p {
        font-size: 12px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .cart {
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        border-radius: 1rem;
        transform: translateY(110%);
    }
    .open {
        transform: translateY(10%);
    }
}