

.Topic{
    background-color: var(--overlay);
    width: 140%;
    height: 100%;
    position: fixed;
    z-index: 1111111;
    top: 0;
    cursor: pointer;
}

.Topic_box{
    top: 10%;
    left: 40%;
    transform: translateX(-100%);
    position: absolute;
    background-color: var(--main-bg-color);
    border-radius: 1rem;
    box-shadow: var(--box-shadow-2);
    text-align: center;
    width: 40%;
    padding: 1rem 0;
}

.Topic_box_content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    gap: 1rem;
    padding: 0 2rem;
}
.Topic_box_btn{
    margin-top: 1rem;
}

.Topic_box_btn_Active{
    background-color: var(--main-bg-color);
    border:  1px solid var(--icons-color);
    color:  var(--icons-color);
}

.btn_width{
    align-items: center;
    width: 10rem;
}
@media screen and (max-width: 35em) {
    .Topic_box_content{
        grid-template-columns: 1fr 1fr;
    }
    .Topic_box{
        top: 20%;
        transform: translateX(-55%);
        width: 90%;
        padding: 1rem 0;
        height: 50%;
        overflow:scroll;
    }
    .Topic_box::-webkit-scrollbar {
        display: none;
    }
}