.form_resell {
    width: "80%";
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.reSellToken {
    width: 100%;
    margin-block: 4rem;
}

.reSellToken_box {
    width: 60%;
    margin: 0 auto;
}

.reSellToken_box h1 {
    font-size: 3rem;
}

.reSellToken_box_image {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-block: 3rem;
}

.button {
    margin-top: 2rem;
    width: 50%;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.image_audio{
    position: relative;
}

.audio{
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    width: 100%;
    position: absolute;
    bottom: 0.25rem;
    z-index: 111;
}
@media screen and (max-width: 35em) {
    .reSellToken_box {
        width: 90%;
    }
}